body {
      font-family: 'Saira', sans-serif;
  font-weight: 700;
	color:black;   
}

h6,
h5,
h4,
h3,
h2,
h1 {
     font-family: 'Orbitron', sans-serif;
     font-weight: 500;
}
.navbar-brand img {width:150px}

#footer {background-color:yellow;} 

#lowerfooter {background-color:black;}

#lowerfooter i {font-size:60px;color:#fff;margin:32px 24px 16px 8px} 

.memberBenefits i {font-size:200px;color:#C00D19;}
.memberBenefits p {font-size:24px;color:#F1E9E1;margin-top:12px}
.mBBox {background-color:#34AE42;padding:15px;border-radius:15px}

.pBox{}
.pBox img {z-index:-1}
.pBox button {z-index:2;position:absolute;right:40%}
.pBox button:hover {}

.row1 {font-size:32px;color:#954A16}
.row2 { font-size:60px;color:#EFC439}
